.container {
    display: grid;
    
    grid-template: 50px 50px / 50px 50px;
    /* short hand for
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px; */

    /* Sets values for implicit grid row */
    grid-auto-rows: 50px;
    grid-auto-columns: 50px;

    /* sets direction of extra elements */
    grid-auto-flow: column;

    column-gap: 10px;
    row-gap: 100px;
}

.container > div {
    border: 1px solid blue;
}